html,
body  {
    font-family: 'Century';
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    overflow-x: hidden;  
}
a:hover {
    text-decoration: none;
    color: #000 !important;
}
a {
    color: #FFC107;
}
#logo {
    width: 50px;
    height: 40px;
}
nav a {
    color: white;
    display: inline-block;
}
nav a:hover{
    color: #000;
    transform: translateY(-2px);
    text-shadow: 0px 0px 1px;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s ease-in-out;
    
}
.nav-link:hover::after {
    width: 100%;
    transition: width .3s ease-in-out;
}
.navbar {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.644), transparent);
    outline: none 
}
.navbar-toggler>.close {
    display: inline;
}
.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display: none;
}

.jumbotron {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 650px;
    overflow: hidden;
    text-align: center;
    color: black;
    margin-bottom: 2px;
}
#jumb {
    margin-top: 20vh;
    width: 550px;
}
#jumb img {
    display: inline-block;
    width: 250px;
    height: 255px;
    transition: width .3s linear;
}

@media all and (max-width: 576px) {
    #jumb {
    width: 340px;
    }
    #jumb img {
    width: 150px;
    height: 155px;
    }
    
   
}
.logo {
    border-left: 1px solid black;
}
@font-face {
    font-family: 'Keron';
    src: url(../fonts/Kreon.ttf);
}
.lead {
    
    font-family: 'Kreon', 'Century';
    font-size: 16px;
}

.btn {
    background: transparent;
    border: 2px solid #000;
    font-family: "kreon", "century";
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 30%;
    margin: 10px;
    transition: color 0.4s linear;
    position: relative;
    box-shadow: 0px 0px 5px;
}
.btn:hover {
    color: #fff;
    transform: translateY(-1.5px);
    border-color: transparent;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn::before {
    transform: scaleY(0);
}
.btn:hover::before {
    transform: scaleY(1)
}
.btn:active {
    transform: translateY(.5px);
    box-shadow: 0px 0px 0px;
}
#aboutT {
    margin-top: -84px;
    display:  block;
    height: 84px;
    visibility: hidden;
    position: relative;
}
.carousel-inner img {
    background-size: cover;
    display: inline-block;
    width: 100%;
    height: 600px;
    padding-left: 40px;
    position: relative;
    top: 20px;
}
a.carousel-control-prev {
    margin-left: 35px;
}
.display-4 {
    border-bottom: 1px solid #000;
    margin-top: 20px;
    margin-left: 40px;
}
.about {
    padding: 30px;
}
.btn1 {
    color: #000;
    background: transparent;
    border: 1px solid #000;
    font-family: "kreon", "century";
    text-transform: uppercase;
    padding: 12px 20px;
    margin: 10px;
    transition: color 0.4s linear;
    box-shadow: 0px 0px 5px;
    position: relative;
}
.btn1:hover {
    background: transparent;
    color: #000;
    box-shadow: none;
}
.btn1:active {
    background: #000;
}
#projectsT {
    margin-top: -84px;
    display:  block;
    height: 84px;
    visibility: hidden;
    position: relative;
}
#projects {
    margin-top: 3px;
    background: url(../images/chair.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 1300px;
}
.col-lg-8 {
    justify-content: center;
    padding: 10px;
    
    
}
.cardpro {
    background-color: #fff;
    margin: 60px 30px 10px 30px;
    padding: 40px;
    padding-top: 50px;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
}

.cardpro img {
    width: 300px;
    height: 200px;
    filter:  blur(.8px) grayscale(90%);
   
}
.cardpro img:hover {
   filter: grayscale(0%);
    
}
@media all and (max-width: 992px) {
    #projects {
    height: 1250px;
    }
}
#tutorialHeaderT {
    margin-top: -84px;
    display:  block;
    height: 84px;
    visibility: hidden;
    position: relative;
}
#tutorials {
    height: 1100px;
    background: linear-gradient(to top, rgba(242, 242, 242, 0.685) 0%, rgb(22, 22, 22) 75%, #000 100%);
    
}
#tutorialHeader.col-12 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    width: 100px;  
}
.tutorialHeader2 {
    border-right: 1px solid #fff;
    padding: 20px;
}
.tut1 {
    height: 350px;
    color: #fff;
    line-height: 18px;
   
}
.tut2 {
    background-color: #fff;
    margin-bottom: 20px;
    height: 150px;
    border-radius: 30px;
    padding: 17px 80px;
    outline:none;
    box-shadow: 0px 0px 15px gray;
   overflow: hidden;
}
@media all and (max-width: 576px) {
    #tutorials {
    height: 1770px;
    }
    .tut1 {
    height: 650px;
    }
    .tutorialHeader2 {
    border-bottom: 0px solid #fff;
    margin-bottom: 50px;
    }
    .carousel-inner img {
    padding-left: 0px;
    height: 400px;
    }
    a.carousel-control-prev {
    margin-left: 0px;
    }
  
}
.black {
    color: #000;
} 
#footerT {
    margin-top: -84px;
    display:  block;
    height: 84px;
    visibility: hidden;
    position: relative;
}
#footer {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.801) 0%, rgba(22, 22, 22, 0.5) 75%, transparent), url(../images/footerImg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 750px;
    padding: 10px 40px 0px 40px;
}
.display-3 {
    letter-spacing: 20px;
    border-bottom: 1px solid #000;
    margin: 0px 150px 5px 150px;
}
@media all and (max-width: 768px) {
    .display-3 {
    letter-spacing: 1px;
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    }
    #footer {
    height: 690px;
    margin-top: 300px;
    }
    .tut1{
    height: 500px;
    }
    .col-md-6.foot2 {
    margin-bottom: 10px;
    }
    .socialicon {
    height: 55px;
    width: 55px;
    margin: 10px 40px 0px 0px;
    background: #fff;
    border-radius: 50%;
    float: left;
    padding: 10px;
    }
    #contactme.col {
    margin-top: 260px;
    }
    .cardpro img {
    filter:  blur(0px) grayscale(0%);
    }
    .tut2 {
    height:  auto;
    justify-content:  center;
    align-items:  center;
    }
    .tut2 iframe {
    
    width: 200px;
    height: 110px;
    }
}
.form-control:focus {
    border-color: transparent;
}
#contactme.col {
    margin-top: 0px;
}
.hi {
    background: #fff;
    height: 150px;
    width: 230px;
    margin: 20px 0px 20px 0px;
    border-radius: 5px 5px 15px 15px;
    padding: 30px 20px 30px 20px;
    border-bottom: 7px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 15px #2323236b;    
}
#footer1 {
    background: linear-gradient(to bottom,#141414,#000);
    background-position:  center;
    background-size:  cover;
    background-repeat:  no-repeat;
    margin: 0px 0px 0px 0px;
}
@media all and (max-width: 546px) {
    #footer {
    height: 1200px;
    margin-top: 680px;
    }
    h4 {
    text-align:  center;
    }
    .form-inline {
    justify-content:  center;
    }
    #form1 {
    top: 55px;
    }
    #error {
    margin-bottom: 50px;
    }
    .col-md-4 {
    margin-top: 45px;
    }
    .col-md-6.foot2 {
    padding: 30px 0px 10px 0px;
    margin-left: 50px;
    }
    #projects {
    height: 1590px;
    }
    .cardpro {
    height: 400px !important;
    }
    .cardpro img {
    width: 100% !important;
    height: 120px !important;
    }
    .cardpro p {
    text-align:  center !important;
    }
    
}

.col-md-6.foot2 {
    padding: 30px 0px 10px 0px;
    
}
.socialicon {
    height: 55px;
    width: 55px;
    margin: 10px 70px 0px 0px;
    background: #fff;
    border-radius: 50%;
    float: left;
    padding: 10px;
}
.socialicon a {
    text-decoration:  none;
    color: inherit;
    transform: translateY(-4px) 
}
.socialicon:hover { 
    transition-delay: .5s ease;
    transform:  translateY(-3px);  
}
.socialicon:active {
    transition-delay: .5 ease;
    transform: translateY(0px);
}
#error {
    max-height: 120px;
    max-width: 350px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
}
#errorSub {
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 10px;
    padding: 5px;
}


